ReaderDataCollector/Connected Services/AtwService/ReadingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReadingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="UsernameEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://77.68.12.158/AtwService/ReadingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://77.68.12.158/AtwService/ReadingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://77.68.12.158/AtwService/ReadingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATWService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReadingService_GetReadUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReadUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReadUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReadUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReadingUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReadingUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReadingUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReadingUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReaderUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReaderUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReaderUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReaderUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetRaceUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetRaceUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetActiveReadings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveReadings" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetActiveReadings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveReadingsResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetActiveRaces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveRaces" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetActiveRaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveRacesResponse" />
  </wsdl:message>
  <wsdl:portType name="IReadingService">
    <wsdl:operation name="GetReadUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetReadUsingDataContract" message="tns:IReadingService_GetReadUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetReadUsingDataContractResponse" message="tns:IReadingService_GetReadUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReadingUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetReadingUsingDataContract" message="tns:IReadingService_GetReadingUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetReadingUsingDataContractResponse" message="tns:IReadingService_GetReadingUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReaderUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetReaderUsingDataContract" message="tns:IReadingService_GetReaderUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetReaderUsingDataContractResponse" message="tns:IReadingService_GetReaderUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaceUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetRaceUsingDataContract" message="tns:IReadingService_GetRaceUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetRaceUsingDataContractResponse" message="tns:IReadingService_GetRaceUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveReadings">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetActiveReadings" message="tns:IReadingService_GetActiveReadings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetActiveReadingsResponse" message="tns:IReadingService_GetActiveReadings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveRaces">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetActiveRaces" message="tns:IReadingService_GetActiveRaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetActiveRacesResponse" message="tns:IReadingService_GetActiveRaces_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsernameEndpoint" type="tns:IReadingService">
    <wsp:PolicyReference URI="#UsernameEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReadUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetReadUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReadingUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetReadingUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReaderUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetReaderUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetRaceUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveReadings">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetActiveReadings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveRaces">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetActiveRaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadingService">
    <wsdl:port name="UsernameEndpoint" binding="tns:UsernameEndpoint">
      <soap12:address location="http://77.68.12.158/AtwService/ReadingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://77.68.12.158/AtwService/ReadingService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>