ReaderDataCollector/Connected Services/AtwService/ReadingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReadingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="UsernameEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ATWService/ReadingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ATWService/ReadingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ATWService/ReadingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATWService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReadingService_SetRead_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRead" />
  </wsdl:message>
  <wsdl:message name="IReadingService_SetRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReadResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_SetReading_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReading" />
  </wsdl:message>
  <wsdl:message name="IReadingService_SetReading_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReadingResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_SetReader_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReader" />
  </wsdl:message>
  <wsdl:message name="IReadingService_SetReader_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReaderResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReadingById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReadingById" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReadingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReadingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReadings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReadings" />
  </wsdl:message>
  <wsdl:message name="IReadingService_GetReadings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReadingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReadingService">
    <wsdl:operation name="SetRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/SetRead" message="tns:IReadingService_SetRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/SetReadResponse" message="tns:IReadingService_SetRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReading">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/SetReading" message="tns:IReadingService_SetReading_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/SetReadingResponse" message="tns:IReadingService_SetReading_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReader">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/SetReader" message="tns:IReadingService_SetReader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/SetReaderResponse" message="tns:IReadingService_SetReader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReadingById">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetReadingById" message="tns:IReadingService_GetReadingById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetReadingByIdResponse" message="tns:IReadingService_GetReadingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReadings">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadingService/GetReadings" message="tns:IReadingService_GetReadings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadingService/GetReadingsResponse" message="tns:IReadingService_GetReadings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsernameEndpoint" type="tns:IReadingService">
    <wsp:PolicyReference URI="#UsernameEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetRead">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/SetRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReading">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/SetReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReader">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/SetReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReadingById">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetReadingById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReadings">
      <soap12:operation soapAction="http://tempuri.org/IReadingService/GetReadings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadingService">
    <wsdl:port name="UsernameEndpoint" binding="tns:UsernameEndpoint">
      <soap12:address location="http://localhost/ATWService/ReadingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/ATWService/ReadingService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>