ReaderDataCollector/Connected Services/AtwService/ReadingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ATWService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATWService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReadType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Epc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PeakRssiInDbm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadingID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UniqueReadID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadType" nillable="true" type="tns:ReadType" />
  <xs:complexType name="ReadingType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AntennaNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReaderID" type="xs:int" />
      <xs:element minOccurs="0" name="ReaderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimingPoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalReads" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadingType" nillable="true" type="tns:ReadingType" />
  <xs:complexType name="ReaderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReaderType" nillable="true" type="tns:ReaderType" />
  <xs:complexType name="RaceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reader" nillable="true" type="tns:ReaderType" />
      <xs:element minOccurs="0" name="Reading" nillable="true" type="tns:ReadingType" />
      <xs:element minOccurs="0" name="Reads" nillable="true" type="tns:ArrayOfReadType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RaceType" nillable="true" type="tns:RaceType" />
  <xs:complexType name="ArrayOfReadType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReadType" nillable="true" type="tns:ReadType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReadType" nillable="true" type="tns:ArrayOfReadType" />
  <xs:complexType name="ArrayOfReadingType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReadingType" nillable="true" type="tns:ReadingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReadingType" nillable="true" type="tns:ArrayOfReadingType" />
  <xs:complexType name="ArrayOfRaceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RaceType" nillable="true" type="tns:RaceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRaceType" nillable="true" type="tns:ArrayOfRaceType" />
</xs:schema>