ReaderDataCollector/Connected Services/AtwService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://77.68.12.158/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATWService.Model" />
  <xs:import schemaLocation="http://77.68.12.158/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://77.68.12.158/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SetRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="read" nillable="true" type="q1:Read" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="SetReadResult" nillable="true" type="q2:Read" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="reading" nillable="true" type="q3:Reading" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="SetReadingResult" nillable="true" type="q4:Reading" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="reader" nillable="true" type="q5:Reader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="SetReaderResult" nillable="true" type="q6:Reader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="readingId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetReadingByIdResult" nillable="true" type="q8:Reading" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetAllReadingsResult" nillable="true" type="q9:ArrayOfReading" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetAllRacesResult" nillable="true" type="q10:ArrayOfRace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceByReadingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="readingId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceByReadingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetRaceByReadingIdResult" nillable="true" type="q12:Race" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="readId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetReadByIdResult" nillable="true" type="q14:Read" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReads">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetAllReadsResult" nillable="true" type="q15:ArrayOfRead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetReaderByIdResult" nillable="true" type="q16:Reader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReaders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetAllReadersResult" nillable="true" type="q17:ArrayOfReader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadsByReadingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="readingId" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReadsByReadingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetAllReadsByReadingIdResult" nillable="true" type="q19:ArrayOfRead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSeenLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSeenLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetLastSeenLogsResult" nillable="true" type="q20:ArrayOfLastSeenLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSeenLogByReadingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="readingId" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSeenLogByReadingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetLastSeenLogByReadingIdResult" nillable="true" type="q22:LastSeenLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAliveLastSyncLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAliveLastSyncLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetAllAliveLastSyncLogsResult" nillable="true" type="q23:ArrayOfLastSeenLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPastLastSyncLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPastLastSyncLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetAllPastLastSyncLogsResult" nillable="true" type="q24:ArrayOfLastSeenLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadingsByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readingIds" nillable="true" type="q25:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReadingsByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ATWService.Model" minOccurs="0" name="GetReadingsByIdsResult" nillable="true" type="q26:ArrayOfReading" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>